.col-md-3{
  padding: 0;
}

.habilidad{
  width: 100%;
  height: $altura;
  margin: 0;
  padding: 2rem;
  border: solid 1px $cool-orange;
  font-family: courier;
  cursor: pointer;
}

.habilidad:hover, .habilidad:active{
  box-shadow: -3px -4px 13px rgba(0, 0, 0, 0.51);
}

.habilidad--frente{
  font-size: $big-size;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.8s;
}

.habilidad--descripcion{
  font-size: $medium-size;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: $fps;
}

.frontend{
  background: $dim-white;
  color: $cool-orange;
  transition: $fps;
}

.frontend:hover, .frontend:active{
  background: lighten($dim-white, 20%);
  color: $cool-orange;
}

.backend{
  background: $deep-blue;
  color: $dim-white;
  transition: $fps;
}

.backend:hover, .backend:active{
  background: lighten($deep-blue, 20%);
}
