.nav{
  background: $cool-orange;
  transition: 0.4s
}

.nav-show{
  background: $cool-orange;
  margin: 0;
  border: none;
  font-size: $big-size;
  padding: $xs-size;
  transition: 0.4s
}

.nav-small{
  font-size: $big-size;
  display: inline-block;
  transition: 0.4s
}

.nav-small .nav-link{
  color: $white;
  padding-top: $small-size;
  font-size: $big-size;
  transition: 0.4s
}

.nav-big{
  display: inline-flex;
  transition: 0.4s;
}

.nav-big nav{
  display: inline-flex;
  transition: 0.4s;
}

.landing{
  width: 100%;
  height: 100vh;
  margin: 0;
  border: none;
}

.landing a{
  margin: 10rem 0;
}

.landing--content{
  border: solid 1rem $cool-orange;
  margin: 20vh auto;
  padding: $medium-size $xs-size;
  width: 80%;
  text-align: center;
  box-shadow: 0.6rem 0.6rem 0.6rem rgba(0,0,0,0.4);
}

.landing--content h1{
  font-size: $xl-size;
  font-weight: bold;
}

.landing--nota{
  margin: $medium-size auto;
  font-weight: bold;
}

.landing--content p{
  font-size: $small-size;
  color: $dim-white;
}


.nav{
  min-height: $big-size;
  color: $white;
  transition: 0.4s;
}

.nav-link{
  color: $white;
  font-size: $small-size;
  transition: 0.4s
}

.nav-link:hover{
  color: $deep-blue;
}

.contacto{
  color: $dim-white;
  font-size: $medium-size;

  position: fixed;
  top: 20rem;
  right: 0;
  left: 0;
  z-index: 1;
  height: 73vh;
  width: 100%;
  background: #f87060ff;
  transition: 0.8s;
  padding: 10rem 0;
}

.contacto--datos{
  margin: $big-size auto;
  text-align: right;
  transition: 0.8s;
}

.contacto i{
  margin: 0 $xs-size;
}


.landing--boton{
  cursor: pointer;
  border: solid 0.2rem $cool-orange;
  background: $deep-blue;
  border-radius: 0.6rem;
  padding: $xs-size;
  font-size: $xs-size;
  color: $white;
  transition: $fps;
  margin: $xs-size auto;
}

.landing--boton:hover{
  color: $deep-blue;
  background: $cool-orange;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.4);
}

a{
  text-decoration: none;
}

.nav a:hover{
  color: $deep-blue;
}

nav{
    transition: 0.4s;
}
